development: &default
  adapter: postgresql
  encoding: unicode
  database: todo_dev
  pool: 2
  username: todo
  password: todo

test: &test
  <<: *default
  database: todo_test

integration:
  <<: *test

production:
  adapter: postgresql
  encoding: unicode
  database: todo
  pool: 2
  username: ENV['db_username']
  password: ENV['db_password']
