<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>To Do Tracker | Ruby Edition</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <script type="text/javascript" src="javascripts/scripts.js" async></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
